$main_pallette: (
  0: #f0f0f1,
  1: #d2d4d5,
  2: #b4b7b9,
  3: #979b9d,
  4: #797e81,
  5: #5c6266,
  6: #4c5154,
  7: #3b3f41, 
  8: #2a2d2f,
  9: #1a1b1c,
  10: #09090a,
  11: #ed6a5e,
  12: #F0857B,
);

#main-bar{
  width: 100%; height: 60px;
  background-color: map-get($main_pallette, 6 );
  box-shadow: -3px 3px 3px .5px map-get($main_pallette, 3 );
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: left;

  #main-bar-title{
    width: 300px;
    display: inline-block;
    line-height: 60px;
    margin: auto 0 0 100px;
    font-size: 40px;
    color: map-get($main_pallette, 0 );
  }

  #main-bar-center-button{
    width: 45px; height: 45px;
    margin: auto;   
    a{
      background-color: map-get($main_pallette , 8 );
      border-radius: 50px;
      box-shadow: 0 0 0 3px map-get($main_pallette, 3 );
      color: map-get($main_pallette, 3 );
      display: inline-block;
      line-height: 45px;
    }
  }

  #main-bar-center-button:hover{
    a{
      transition: all 1s ease;
      box-shadow: 0 0 0 3px map-get($main_pallette, 11 );
      color: map-get($main_pallette, 11 );
    }
  }

  #main-bar-search-bar{
    margin: auto;
  }
  
}