#main-bar {
  width: 100%;
  height: 60px;
  background-color: #4c5154;
  box-shadow: -3px 3px 3px 0.5px #979b9d;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: left;
}

#main-bar #main-bar-title {
  width: 300px;
  display: inline-block;
  line-height: 60px;
  margin: auto 0 0 100px;
  font-size: 40px;
  color: #f0f0f1;
}

#main-bar #main-bar-center-button {
  width: 45px;
  height: 45px;
  margin: auto;
}

#main-bar #main-bar-center-button a {
  background-color: #2a2d2f;
  border-radius: 50px;
  box-shadow: 0 0 0 3px #979b9d;
  color: #979b9d;
  display: inline-block;
  line-height: 45px;
}

#main-bar #main-bar-center-button:hover a {
  transition: all 1s ease;
  box-shadow: 0 0 0 3px #ed6a5e;
  color: #ed6a5e;
}

#main-bar #main-bar-search-bar {
  margin: auto;
}
/*# sourceMappingURL=bar.css.map */