.input-field input {
  color: #212121 !important;
}

.btn-small {
  background-color: #da5552 !important;
  border-radius: 3px !important;
}

.btn-small input {
  color: #e39695 !important;
}

.btn-small a {
  color: #e39695 !important;
}

.input-field input[type=text]:focus + label {
  color: #da5552 !important;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid #da5552 !important;
  box-shadow: 0 1px 0 0 #da5552 !important;
}

.input-field input[type=text] + label {
  color: #979b9d !important;
}

.input-field input[type=text] {
  border-bottom: 1px solid #979b9d !important;
  box-shadow: 0 1px 0 0 #979b9d !important;
}

.input-field input[type=password]:focus + label {
  color: #da5552 !important;
}

.input-field input[type=password]:focus {
  border-bottom: 1px solid #da5552 !important;
  box-shadow: 0 1px 0 0 #da5552 !important;
}

.input-field input[type=password] + label {
  color: #979b9d !important;
}

.input-field input[type=password] {
  border-bottom: 1px solid #979b9d !important;
  box-shadow: 0 1px 0 0 #979b9d !important;
}

/*.card-panel {
  padding: 0 !important;
  border-radius: 5px 5px 0 0;
  background-color: #f5e2e0 !important;
  form {
    padding: 1rem !important;
  }
}*/
.card-header {
  border-radius: 3px 3px 0 0;
  width: 100%;
  height: 50px;
  position: relative;
  background-color: #da5552;
}

.card-header span {
  padding: 2% 0 0 2%;
  text-align: left;
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #e4b1ab;
  font-size: 20px;
  margin: auto;
}

::-webkit-input-placeholder {
  color: #979b9d !important;
}

::-moz-placeholder {
  color: #979b9d !important;
}

:-ms-input-placeholder {
  color: #979b9d !important;
}

::placeholder {
  color: #979b9d !important;
}

.pixcrate-rowmt-10 {
  margin-top: 10% !important;
}

.pixcrate-rowmt-5 {
  margin-top: 5% !important;
}

.underline-none {
  text-decoration: none !important;
}

.pixcrate-text-dark {
  color: #494949;
  /*&:hover {
    color: #5a5a5a;
  }*/
}

.std-button {
  border: none;
  border-radius: .25rem;
}

.std-button:focus {
  box-shadow: 0 0 2px 3px #ff4640de;
  transition: 250ms box-shadow ease-in-out;
}

.std-button:hover {
  background-color: #f3160ed9;
  color: white;
  transition: 250ms background-color ease-in;
  transition: 150ms color ease-in;
  text-decoration: none;
}

.round-button {
  width: 50px;
  height: 50px;
  background-color: #ff4540;
  margin: auto;
  display: block;
  border-radius: 100%;
}

.round-button:focus {
  box-shadow: 0 0 4px 3px #F3140E;
  transition: 250ms box-shadow ease-in-out;
}

.img-white {
  filter: brightness(1000%);
}

.pixcrate-std-red {
  background-color: #ff4540 !important;
}

.pixcrate-gray-light-4 {
  background-color: rgba(0, 0, 0, 0.04) !important;
}

.pixcrate-gray-light-6 {
  background-color: rgba(0, 0, 0, 0.06) !important;
}

.pixcrate-gray-light-8 {
  background-color: rgba(0, 0, 0, 0.08) !important;
}

.pixcrate-gray-light-10 {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.pixcrate-gray-light-12 {
  background-color: rgba(0, 0, 0, 0.12) !important;
}

.pixcrate-gray-light-14 {
  background-color: rgba(0, 0, 0, 0.14) !important;
}

.pixcrate-gray-light-20 {
  background-color: rgba(0, 0, 0, 0.2) !important;
}

.pixcrate-gray-light-22 {
  background-color: rgba(0, 0, 0, 0.22);
}

.pixcrate-gray-light-24 {
  background-color: rgba(0, 0, 0, 0.24);
}

.pixcrate-gray-light-26 {
  background-color: rgba(0, 0, 0, 0.26);
}

.pixcrate-gray-light-28 {
  background-color: rgba(0, 0, 0, 0.28);
}

.pixcrate-gray-light-30 {
  background-color: rgba(0, 0, 0, 0.3);
}

.background-transparent {
  background-color: transparent;
}

.text-sm {
  font-size: .9em;
}

.text-md {
  font-size: 1.2em;
}

.text-lg {
  font-size: 1.4em;
}

.text-std {
  font-size: 1em;
}

.pixcrate-blank-75 {
  height: 75px;
}

.pixcrate-shadow-sm {
  box-shadow: 2px 4px 4px -3px rgba(128, 128, 128, 0.686);
}

.pixcrate-search-btn {
  width: 38px;
  height: 36px !important;
}

.pixcrate-rounded-left {
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
}

.pixcrate-rounded-bottom-left {
  border-bottom-left-radius: 4px !important;
}

.pixcrate-rounded-right {
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}

.pixcrate-rounded-bottom-right {
  border-bottom-right-radius: 4px !important;
}

.box-shadow-none {
  box-shadow: 0 !important;
}

.box-shadow-none:focus {
  box-shadow: 0 !important;
}

.box-shadow-none:hover {
  box-shadow: 0 !important;
}

.box-shadow-none:active {
  box-shadow: 0 !important;
}

.img-container {
  overflow: hidden;
  height: 400px;
}

.overflow-hide {
  overflow: hidden;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
select:focus,
.uneditable-input:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 0;
}

.btn {
  outline: none !important;
  box-shadow: none !important;
  border: 0;
}

.input-has-border {
  border: 1px solid #ccc !important;
}

input[type="submit"],
.value-text-white {
  color: white !important;
}

.w-15 {
  width: 15%;
}

.w-10 {
  width: 10%;
}

.w-5 {
  width: 5%;
}

.m-6 {
  margin: 15%;
}

.mt-6 {
  margin-top: 15%;
}

.my-6 {
  margin-top: 15%;
  margin-bottom: 15%;
}

.mr-6 {
  margin-right: 15%;
}

.mb-6 {
  margin-bottom: 15%;
}

.ml-6 {
  margin-left: 15%;
}

.font-size-default {
  font-size: 1em;
}

.font-size-9 {
  font-size: .9em;
}

.font-size-8 {
  font-size: .8em;
}

.pixcrate-circle {
  border-radius: 1000px;
}

.px-table-content-4 tr td {
  padding-right: 40px;
  padding-left: 40px;
}

.px-table-content-4 tr th {
  padding-right: 40px;
  padding-left: 40px;
}

.px-table-content-2 tr td {
  padding-right: 20px;
  padding-left: 20px;
}

.px-table-content-2 tr th {
  padding-right: 20px;
  padding-left: 20px;
}

.py-table-content-2 tr td {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-table-content-2 tr th {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-table-content-1 tr td {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-table-content-1 tr th {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pt-table-content-1 tr td {
  padding-top: 10px;
}

.pt-table-content-1 tr th {
  padding-top: 10px;
}

.pt-table-content-2 tr td {
  padding-top: 20px;
}

.pt-table-content-2 tr th {
  padding-top: 20px;
}

.pixcrate-underline {
  padding: 1px;
  margin: 0 4% 4px;
}

.pixcrate-pane-button {
  color: #494949;
  width: 100%;
}

.pixcrate-pane-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: #494949;
}

/*.pixcrate-image-blur {
  transition: filter .5s ease;
  filter: blur(10px);
}*/
.pixcrate-border-5 {
  border: 1px solid rgba(73, 73, 73, 0.5);
}

.pixcrate-border-3 {
  border: 1px solid rgba(73, 73, 73, 0.3);
}

.pixcrate-border-1 {
  border: 1px solid rgba(73, 73, 73, 0.1);
}

.pixcrate-border-dark {
  border-color: rgba(0, 0, 0, 0.12) !important;
}

@media screen and (max-width: 576px) {
  .col-12 nav.navbar :only-child {
    margin: auto;
  }
}

#main-bar {
  width: 100%;
  height: 60px;
  background-color: #4c5154;
  box-shadow: -3px 3px 3px 0.5px #979b9d;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: left;
}

#main-bar #main-bar-title {
  width: 300px;
  display: inline-block;
  line-height: 60px;
  margin: auto 0 0 100px;
  font-size: 40px;
  color: #f0f0f1;
}

#main-bar #main-bar-center-button {
  width: 45px;
  height: 45px;
  margin: auto;
}

#main-bar #main-bar-center-button a {
  background-color: #2a2d2f;
  border-radius: 50px;
  box-shadow: 0 0 0 3px #979b9d;
  color: #979b9d;
  display: inline-block;
  line-height: 45px;
}

#main-bar #main-bar-center-button:hover a {
  transition: all 1s ease;
  box-shadow: 0 0 0 3px #ed6a5e;
  color: #ed6a5e;
}

#main-bar #main-bar-search-bar {
  margin: auto;
}

#profileImageHolder {
  min-width: 110px;
  min-height: 110px;
  position: sticky;
  z-index: 100;
}

#profileImageHolder:hover {
  background-color: rgba(73, 73, 73, 0.124);
  box-shadow: 0 0 0 5px #ff4540;
  transition: 250ms box-shadow ease;
}

#profileImageHolder:not(:hover) {
  background-color: rgba(73, 73, 73, 0.124);
  box-shadow: 0 0 0 3px #494949;
  transition: 250ms box-shadow ease;
}

#enterNowButton {
  margin-bottom: 5px;
}
/*# sourceMappingURL=home.css.map */