@import "main";

#profileImageHolder {
  min-width: 110px;
  min-height: 110px;
  position: sticky;
  z-index: 100;

  &:hover {
    background-color: rgba(73, 73, 73, 0.124);
    box-shadow: 0 0 0 5px $theme_color;
    transition: 250ms box-shadow ease; 
  }

  &:not(:hover) {
    background-color: rgba(73, 73, 73, 0.124);
    box-shadow: 0 0 0 3px #494949;
    transition: 250ms box-shadow ease; 
  }
}

#enterNowButton {
  margin-bottom: 5px;
}